@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-app-rgb: 244, 245, 247;
    --color-primary-900: 74, 109, 255;
    --color-primary-800: 92, 124, 255;
    --color-primary-700: 110, 138, 255;
    --color-primary-600: 128, 153, 255;
    --color-primary-500: 146, 167, 255;
    --color-primary-400: 164, 182, 255;
    --color-primary-300: 183, 197, 255;
    --color-primary-200: 201, 211, 255;
    --color-primary-100: 219, 226, 255;
    --color-primary-50: 228, 233, 255;
    --color-secondary-900: 42, 45, 83;
    --color-secondary-800: 63, 66, 100;
    --color-secondary-700: 85, 87, 117;
    --color-secondary-600: 106, 108, 135;
    --color-secondary-500: 127, 129, 152;
    --color-secondary-400: 148, 150, 169;
    --color-secondary-300: 170, 171, 186;
    --color-secondary-200: 191, 192, 203;
    --color-secondary-100: 212, 213, 221;
    --color-secondary-50: 223, 223, 229;
    --color-success: 0, 192, 115;
    --color-warning: 255, 153, 0;
    --color-error: 255, 71, 87;
    --color-red-500: 239, 68, 68;
    --color-red-300: 252, 165, 165;
  }
}

@layer components {
  .textField__input {
    @apply w-full py-3 px-4 rounded-xl bg-gray-100 text-secondary-900 border border-gray-100 outline-none duration-200 transition-all ease-in-out hover:border-primary-300 focus:outline-none focus:border-primary-300 focus:shadow-input-focus focus:bg-white;
  }
  .btn {
    @apply px-2 py-1 font-bold rounded-2xl transition-all duration-300;
  }
  .btn--primary {
    @apply px-4 py-3 bg-primary-900 text-white hover:bg-primary-800 shadow-lg shadow-primary-300 transform hover:scale-110;
  }
  .table__th {
    @apply border-b-2 border-b-gray-500 font-medium p-3 pr-8 pb-3 text-right;
  }
  .table__td {
    @apply border-b  border-b-gray-300 p-3 pr-8 pb-3 text-right;
  }
  .badge {
    @apply whitespace-nowrap px-3 py-1 rounded-xl;
  }
  .badge--primary {
    @apply bg-primary-900 text-white;
  }
  .badge--secondary {
    @apply bg-secondary-600 text-white;
  }
  .badge--success {
    @apply bg-green-600 text-white;
  }
  .badge--error {
    @apply bg-rose-600 text-white;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--vazir-font);
  min-height: 100vh;
  user-select: none;
  background-color: var(--background-app-rgb);
}
/* nav */
nav {
  display: flex;
  border-bottom: 2px solid #f3f3f3;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  z-index: 999;
  margin-left: 2rem;
}

input {
  padding: 12px 20px;
  border: none;
  background: #f7f6f6;
  outline: none;
  margin-right: 20px;
  border-radius: 5px;
  position: relative;
  width: 14rem;
}

.nav-icons {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 2rem;
}
/* products */
.card-container {
  display: flex;
  flex-wrap: wrap;
 margin:5px 20px;
 border-radius: 10px;
  justify-content: center;
}

.card {
  margin: 10px;
  border: 2px solid #ededed;
  padding: 20px;
  cursor: pointer;
}

.card-img {
  width: 13rem;
  margin-bottom: 1rem;
}

.card-title {
  margin-bottom: 1rem;
}

.card-reviews {
  margin-bottom: 1rem;
  display: flex;
}

.rating-star {
  color: #d5ab55;
}

.total-reviews {
  font-size: 0.9rem;
  margin-left: 10px;
}

.card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bag-icon {
  color: #535353;
}
/* recommended */
.recommended-flex {
  display: flex;
  margin-left: 20rem;
}

.recommended-title {
  margin-left: 20rem;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
}
/* category */
.sidebar-title {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 20px;
}

.sidebar-items {
  margin-top: 20px;
}

.sidebar-label-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebar-label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

.all {
  background: linear-gradient(blue, crimson);
}

.sidebar-label-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.sidebar-label-container input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.sidebar-label-container input:checked ~ .checkmark:after {
  display: block;
}

.sidebar-label-container .checkmark:after {
  top: 6.4px;
  left: 6.4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}

.line {
  margin-top: 3rem;
  border-color: #f7f7f7;
}
/* colors */
.color-title {
  margin-top: 2rem;
}
/* price */
.price-title {
  margin-top: 20px;
}

.ml {
  margin-left: 20px;
}
/* sidebar */
.sidebar {
  width: 120%;
  height: 100%;
  border-right: 2px solid #e5e5e5;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  margin-bottom: 4rem;
}

.logo-container h1 {
  margin-top: 1.3rem;
}
/* pagination  */
.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 100%;
  border: 1px solid #6d28d9;
  color: #6d28d9;
  cursor: pointer;
  font-weight: 300;
}

.paginationBttns a:hover {
  color: white;
  background-color: #6d28d9;
}

.paginationActive a {
  color: white;
  background-color: #6d28d9;
}

.paginationDisabled a {
  color: #9ca3af;
  background-color: #9ca3af;
  cursor: not-allowed;


}